<header>
    <div class="logo">
        <!--<a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i></a>-->
        <a href="<%- config.root %>"><img class="logo-icon" aria-hidden="true" src="/img/logo.png"/></a>
        <% if(headerTitle) { %>
            <h1 id="main-title" class="title"><%- headerTitle %></h1>
        <% } %>
    </div>
</header>